html{
    height: 100%;
    font-size: 100%;
    font-family: Verdana;
    line-height: 1.7rem;
}

body{
    margin: 1rem 0rem 0rem 0rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*---------Header Area-------*/
header{
    max-height: 10vh;
    margin: 0 12% 0 12%;
    display: flex;
    align-items: center;
}

nav{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

nav a{
    margin-right: 2em;
    text-decoration: none;
    color: black;
}

nav .icon{
    width: 55px;
    height: 55px;
    margin-right: 2em;
    border-radius: 20%;
}

/*-------Main Area-------*/
main{
    margin: 0 12% 0 12%;
}

#first{
    grid-area: howAmI;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#first h2{
    padding: 2rem 0rem 0rem 0rem;
    margin: 0;
}

#second{
    grid-area: image;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#third{
    grid-area: skills;
}
#fourth{
    grid-area: future;
}

.grid-container{
    display: grid;
    grid-template-rows: 55% 45%;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        'howAmI image'
        'skills future';
}

.grid-item-text{ 
    height: auto;
    font-size: 1.1rem;
    padding: 0rem 1rem 1rem 0rem;
}

h2{
    font-size: 1.4rem;
}

ul{
    padding-left: 1.5rem;
}

.inline-link{
    text-decoration: none;
    background: linear-gradient(to right, #006eff, #8800ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.grid-item-image img{
    margin: 2rem 0rem 1rem 0rem;
    border-radius: 15px;
    box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.3);
}

/*------Footer Area-------*/
footer{
    padding: 1.5rem 0rem 1rem 0rem;
    background-color: #000000!important;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
}

section a{
    font-size: 100%;
    margin: 0rem 1em 0.2rem 0rem;
    color: aliceblue;
}

section a:hover{
    color:#8800ff;
    /* #006eff; */
}

.ficon{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}

.ficon:hover{
    filter: brightness(70%);
}


/* ---- extra stuff -----------*/
.underline-hover {
    position: relative;        /* Für das Positionieren der Linie */
    /* color: #333;               Textfarbe */
    /* text-decoration: none;     Entfernt die Standard-Unterstreichung */
}

.underline-hover::after {
    content: '';               /* Erzeugt eine leere Linie */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;                  /* Startet mit 0 Breite */
    height: 2px;               /* Höhe der Unterstreichung */
    background-color: #006eff;    /* Farbe der Unterstreichung */
    transition: width 0.3s ease;  /* Animiert die Breite */
}

.underline-hover:hover::after {
    width: 100%;               /* Dehnt sich auf die gesamte Breite aus */
}

/* Bei normaler Breite bekommt der Main-Bereich 90vh */
@media (min-width: 1022px){
    .grid-container{
        height: 90vh;
    }

    .grid-item-image img{
        height: auto;
        width: 100%;
    }
}

/* Mobile-Ansicht */
@media (max-width: 1021px){

    /* 
    - Bürger-Menü erstellen für die Header-Links
     */

    header, main{
        margin: 1rem 4% 0 4%;
    }

    .grid-container{
        display: grid;
        grid-template-rows: 23% 30% 22% 25%;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'howAmI' 
            'image'
            'skills' 
            'future';
        height: auto;
    }

    .grid-item-image{
        display: flex;
        align-items: center;
    }

    .grid-item-image img{
        max-width: 80%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    #fourth{
        margin-top: 1rem;
    }

    footer{
        margin: 2rem 0rem 0rem 0rem;
    }
}

/* Für Safari CK Bild Maße, übergang von Mobile zu Desktop View */
@media (max-width: 1021px) and (min-width:675px){
    .grid-item-image img{
        max-width: 50%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}
