html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana;
    margin: 0px;
}

header{
    float: left;
    position: fixed !important;
    top: 0px;
    display: inline-flex;
    height: 37px;
    width: 100vw;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.backButton img{
    padding-left: 10px;
    height: 37px;
    width: 37px;
}

.header_text{
    font-size: 30px;
    padding-left: 10px;
}

.content_area{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: left;
    margin-top: 100px;
    padding-left: 47px;
    padding-right: 64px;
}

.block{
    display: flex;
    flex-direction:column;
    margin-bottom: 30px;
    background-color: #fafafa;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

    .head_stuff{
        display: inline-flex;
        padding: 16px;
    }

        .head_headline{
            margin: 0px;
            font-size: 1.3em;
        }
        .head_date{
            margin: 0px;
            text-decoration: none;
            font-size: 1em;
        }

.normal_image{
    max-width: 100%;
    height: auto;
}

.main_text{
    font-size: 1em;
}

@media screen and (max-width: 700px) {
    .content_area{
        padding: 8px;
    }
 }





