body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.profile-picture {
    background-color: #3498db;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.about-me {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-me h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.about-me p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

/* Media Queries für responsive Anpassungen */
@media (max-width: 768px) {
    .profile-picture {
        width: 150px;
        height: 150px;
    }

    .about-me {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    .profile-picture {
        width: 100px;
        height: 100px;
    }

    .about-me {
        padding: 10px;
    }
}
